<!-- This should be checked for at the top of the page and only inserted once -->
<p>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
</p>
<!-- The class moodleaccordion is used to detect and retrieve child contents -->
<div class="moodleaccordion">
    <div id="UniqueID">
        <div class="card-header">
            <h4 style="margin-block-end: 0px;">Title0</h4>
        </div>
        <div class="card-body" style="padding: 15px;">
            <p>Body0</p>
        </div>
        <div class="card-header">
            <h4 style="margin-block-end: 0px;">Title1</h4>
        </div>
        <div class="card-body" style="padding: 15px;">
            <p>Body1</p>
        </div>
        <div class="card-header">
            <h4 style="margin-block-end: 0px;">Title2</h4>
        </div>
        <div class="card-body" style="padding: 15px;">
            <p>Body2</p>
        </div>
    </div>
</div>
<!-- This should be inserted at the bottom of the page -->
<p>
    <script type="text/javascript">$( "#UniqueID" ).accordion();</script>
</p>