<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Insert/ edit Accordion</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        // Adding the stylesheet for tinyMCE
        var editor_tinymce_include = function(path) {
            document.write('<script type="text/javascript" src="' +
                    parent.tinyMCE.baseURL + '/' + path + '"></' + 'script>');
        };
        editor_tinymce_include('tiny_mce_popup.js');
        editor_tinymce_include('utils/mctabs.js');
        editor_tinymce_include('utils/validate.js');
        editor_tinymce_include('utils/form_utils.js');
        editor_tinymce_include('utils/editable_selects.js');
    </script>
    <script type="text/javascript" src="js/accordion.js"></script>
    <link href="css/accordion.css" rel="stylesheet" type="text/css" />
</head>
<body id="moodleaccordion" role="application" aria-labelledby="app_title">
  
    <form>
        <div class="panel_wrapper"> 
            <div class="accordion_panel">
                <fieldset>
                    <!-- The input text bar for Number of Sections -->
                    <legend>Number of Sections</legend>
                    <table class="properties"td>
                        <tr>
                            <td class="column1">
                                <label for="numOfSections">Number of sections:</label>
                            </td>
                            <td>
                                <input name="numSections" class="" id="numOfSections"/>
                            </td>
                            <td>
                                <input class="updateButton" style="float:right;" type="button" id="update" name="update" value="Update" onclick="AccordionDialog.generateSectionForms(document.getElementById('numOfSections').value)" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset id="section-block" style="display:none;">
                    <!-- Input content for each section -->
                    <legend>Section Contents</legend>
                    <div id="targetFIELDSET">
                    </div>
              
                </fieldset>
            </div>
        </div>
        
        <!-- Control elements -->
        <div class="mceActionPanel">
            <input type="submit" id="insert" name="insert" value="Insert" onclick="AccordionDialog.insertAccordion()" />
			<input type="button" id="cancel" name="cancel" value="Cancel" onclick="tinyMCEPopup.close();" />
        </div>
    </form>
</div>
</body>