/* Makes the white space in the plugin a min height */
.accordion_panel {
    min-height: 300px;
}

/* Allows users to resize the textareas */
.accordion_bodyinput {
    border: 1px solid #808080;
    padding: 1px 0px;
    box-sizing: border-box;
    display: inline-block;
    height:5em; 
    min-height:2em; 
    width:100%;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: -webkit-small-control;
    overflow: auto;
    resize: vertical;
}

/* Sets the left collumn width to a more static even width */
.column1 {
    width: 20%;
    max-width: 132px;
}